@charset "ISO-8859-1";

.parallax {
	background-size: cover;
	background: url(../images/welcome.jpg);
	min-height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

body {
	background: radial-gradient(white,orange);
	background-repeat: no-repeat;
	height: 1000px;
}

form div {
	padding: 10px;
}

.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}